/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@font-face {
    font-family: 'Myriad Pro';
    src: url('fonts/subset-MyriadPro-Regular.eot');
    src: url('fonts/subset-MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-MyriadPro-Regular.woff2') format('woff2'),
        url('fonts/subset-MyriadPro-Regular.woff') format('woff'),
        url('fonts/subset-MyriadPro-Regular.ttf') format('truetype'),
        url('fonts/subset-MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'Myriad Pro' , 'Arial' , sans-serif;
    font-weight: 400;
    color: #909090;
    line-height: 44px;
}
.container{
    max-width: 1004px;
    margin: 0 auto;
    padding: 0 10px 0 10px;
}
.clearfix{
    clear: both;
}
.header{
    padding-bottom: 18px;
    margin-left: 54px;
    display: flex;
    justify-content: space-between;
}
.contant-header{
    display: flex;
}
.round{
    margin-top: 20px;
    width: 44px;
    height: 44px;
    background-color: #5094f2;
    border-radius: 50%;
    background-image: url(../images/round.png);
    background-repeat: no-repeat;
    background-position: center;
}
.logo{
    text-decoration: none;
    color: #000000;
    font-size: 42px;
    letter-spacing: 0.42px;
    line-height: 63px;
    padding-top: 16px;
    margin-left: 10px;
}
.nav{
    padding-top: 35px;
}
.link{
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
    color: #6c6c6c;
    margin-left: 22px;
}
.link:hover{
    border-bottom: 3px solid #5094f2;
    padding-bottom: 27px;
}

.contant{
    background-image: url(../images/dsfsdfsdfds.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.iphone{
    padding-top: 36px;
    float: left;
}
.title{
    color: #ffffff;
    font-size: 42px;
    padding-top: 140px;
    float: right;
    padding-bottom: 10px;
}
.text{
    font-size: 26px;
    line-height: 42px;
    color: #ffffff;
}

.contant-text{
    float: right;
}
.submit{
    padding-left: 40px;
    color: #ffffff;
    font-size: 22px;
    line-height: 40px;
    background-color: #5094f2;
    border:none;
    background-image: url(../images/Shape_2.png);
    background-repeat: no-repeat;
    background-position: 10px;
    border-radius: 2px;
    width: 172px;
    height: 41px;
    margin-top: 20px;
}
.cards{
    margin-top: 57px;
    margin-left: 24px;
    display: flex;
}
.card{
    width: 248px;
    text-align: center;
    margin-right: 90px;
}
.last-card{
    margin-right: 0;
}
.circle{
    width: 186px;
    height: 186px;
    background-color: #5094f2;
    border-radius: 50%;
    background-image: url(../images/shape.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}
.circle.circle-red{
    background-color: #d94748;
    background-image: url(../images/shape2.png);
}
.circle.circle-yellow{
    background-color: #ebbb11;
    background-image: url(../images/shape3.png);
}
.card-title{
    color: #5094f2;
    font-size: 20px;
}
.card-description{
    font-size: 14px;
    line-height: 18px;
}
.carts{
    margin-left: 20px;
    margin-top: 80px;
    padding-bottom: 50px;
    display: flex;
}
.cart-title{
    font-size: 42px;
}
.img-cart{
    margin-top: 30px;
}
.cart2{
    margin-left: 80px;
}
.cart-text{
    width: 451px;
    font-size: 15px;
    line-height: 36px;
    margin-top: 20px;
}
.cart2-title{
    font-size: 26px;
    margin-top: 25px;
    color: #6f7173;
}
.footer{
    border-top: 1px solid #dddddd;
    text-align: center;
    padding-top: 15px;
    font-size: 15px;
    line-height: 36px;
    padding-bottom: 40px;
}